USE [master]
GO
/****** Object:  Database [PT_XYZ_Otomotif]    Script Date: 5/3/2024 2:58:01 AM ******/
CREATE DATABASE [PT_XYZ_Otomotif]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PT_XYZ_Otomotif', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PT_XYZ_Otomotif.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PT_XYZ_Otomotif_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PT_XYZ_Otomotif_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PT_XYZ_Otomotif].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PT_XYZ_Otomotif]
GO
/****** Object:  User [Fikhri]    Script Date: 5/3/2024 2:58:02 AM ******/
CREATE USER [Fikhri] FOR LOGIN [Fikhri] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Fikhri]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [Fikhri]
GO
ALTER ROLE [db_datareader] ADD MEMBER [Fikhri]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [Fikhri]
GO
/****** Object:  Table [dbo].[Data_Pegawai]    Script Date: 5/3/2024 2:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Data_Pegawai](
	[NIP] [int] NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Nama] [varchar](155) NOT NULL,
	[Email] [varchar](200) NOT NULL,
	[Divisi] [varchar](155) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock_Motor]    Script Date: 5/3/2024 2:58:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock_Motor](
	[JenisMotor] [varchar](255) NULL,
	[Kuantitas] [int] NULL,
	[Harga] [decimal](14, 2) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Data_Pegawai] ([NIP], [Password], [Nama], [Email], [Divisi]) VALUES (20230001, N'Sunshine', N'Dewi Anggraeni', N'dewi.anggraeni@gmail.com', N'Administrasi')
GO
INSERT [dbo].[Stock_Motor] ([JenisMotor], [Kuantitas], [Harga]) VALUES (N'Revo FI 110', 30, CAST(18500000.00 AS Decimal(14, 2)))
INSERT [dbo].[Stock_Motor] ([JenisMotor], [Kuantitas], [Harga]) VALUES (N'New Beat FI', 20, CAST(12000000.00 AS Decimal(14, 2)))
INSERT [dbo].[Stock_Motor] ([JenisMotor], [Kuantitas], [Harga]) VALUES (N'Vega ZR', 10, CAST(13500000.00 AS Decimal(14, 2)))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Data_Peg__A9D10534774227EC]    Script Date: 5/3/2024 2:58:02 AM ******/
ALTER TABLE [dbo].[Data_Pegawai] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Data_Pegawai]  WITH CHECK ADD CHECK  (([NIP]>=(0) AND [NIP]<=(99999999)))
GO
USE [master]
GO
